<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/add_book}" method="POST" th:object="${book}">
    <label for="book_name">Book name:</label><br>
    <input type="text" id="book_name" th:field="*{title}"><br>
    <label for="isbn">ISBN:</label><br>
    <input type="text" id="isbn"  th:field="*{isbn}"><br>
    <label for="author">Author:</label><br>
    <input type="text" id="author"  th:field="*{author}"><br>
    <input style="margin-top:5px" type="submit">
</form>

<p>Search for book by title</p>
<form th:action="@{/search_by_title}" method="GET" th:object="${book}">
    <label for="book_name">Book name:</label><br>
    <input type="text" id="book_name" th:field="*{title}"><br>
    <input style="margin-top:5px" type="submit">
</form>

<p>Search for book by ISBN</p>
<form th:action="@{/search_by_isbn}" method="GET" th:object="${book}">
    <label for="isbn">ISBN:</label><br>
    <input type="text" id="isbn"  th:field="*{isbn}"><br>
    <input style="margin-top:5px" type="submit">
</form>

</body>
</html>